@if (hasContent()) {
<div class="home__card" [style.width]="width()" [style.height]="height()">
    <div class="home__card-inner">

        <!-- Cara frontal -->
        @if (hasImage()) {    
            <img [src]="path()" class="home__card-image-front-image" [alt]="text()">
        }@else{
            <div class="home__card-front">
                <h3>{{ title() }}</h3>
            </div>
        }

        <!-- Cara trasera -->
         @if (hasImage()) { 
            <div class="home__card-image-back-image">
                <h3>{{ title() }}</h3>
                <p>{{ text() }}</p>
                @if(text2()){ <p>{{ text2() }}</p>}
            </div>
         }@else {
            <div class="home__card-back">
                <p>{{ text() }}</p>
                
            </div>
         }
        

    </div>
</div>
}