/* You can add global styles to this file, and also import other style files */
@use './styleVariables.scss' as sv;

/* Importing Bootstrap SCSS file. */
@use 'bootstrap' as *;

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // font-family: 'pixelify';
}

.main-content {
    flex: 1;
}

.custom__divider{
    border-top: 1px sv.$primary-color solid;
    width: 100%;
    margin: 25px;
}


@font-face {
  font-family: 'pixelify';
  src: url('./assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}