<section class="more-info__container">
    <h1>{{'HOME.USP.title' | translate }}</h1>

    <article>
        <h2 class="more-info__subtitle">{{'MOREINFO.subtitle1' | translate }}</h2>
        <p class="more-info__text">{{'MOREINFO.text1' | translate }}</p>
    </article>
    <hr>
    <article>
        <h2 class="more-info__subtitle">{{'MOREINFO.subtitle2' | translate }}</h2>
        <p class="more-info__text">{{'MOREINFO.text2' | translate }}</p>
    </article>
    <hr>
    <article>
        <h2 class="more-info__subtitle">{{'MOREINFO.subtitle3' | translate }}</h2>
        <p class="more-info__text">{{'MOREINFO.text3' | translate }}</p>
    </article>
    <hr>
    <article>
        <h2 class="more-info__subtitle">{{'MOREINFO.subtitle4' | translate }}</h2>
        <p class="more-info__text">{{'MOREINFO.text4' | translate }}</p>
    </article>
    <hr>
</section>