<section class="home__container">

    <h1 class="home__title">Boss Till the End</h1>
    <carousel class="home__carousel" [images]="imageList" ></carousel>

    <hr class="custom__divider" />

    <section class="home__about-game">
        <h1 class="home__section-title">About the game</h1>
        <p class="home__section-text">Boss Till the End is a retro futuristic action roguelike where players take on the role of a powerful dungeon boss, fighting against endless waves of invading heroes. Set in a dystopian sci-fi world with CRT aesthetics and synthwave soundscapes, the game challenges players to strategize, adapt, and evolve their boss character to survive the relentless assault. The game focuses on intense action, tactical resource management, and a deep sense of progression.</p>
    </section>

    <section class="home__about-us">
        <h1 class="home__section-title">The team</h1>
        <p class="home__section-text">Our goal is to deliver a finished, polished and good looking roguelike game where the player controls the boss of a dungeon. Additionally we want to include humour and deep topics through the histories of the players controlling the opposing heroes.</p>
    </section>
    
</section>

