<div class="home__video-container">
    <img class="home__hero-poster" src="assets/media/video/banner.jpg" alt="" fetchpriority="high" loading="eager"
        decoding="async" width="1920" height="1080">
    <video muted autoplay loop playsinline preload="none" style="z-index: 3;">
        <source src="assets/media/video/banner.webm" type="video/webm">
    </video>

    <div class="content">
        <h1 class="home__title">{{ 'HOME.title' | translate }}</h1>
        <h3 class="home__title">{{ 'HOME.description' | translate }}</h3>
    </div>
</div>

<section class="home__container">
    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.ABOUT.title' | translate }}</h1>
        <div class="home__card-container">
            @for (card of cardList; track $index) {
            <custom-card [title]="card.title" [text]="card.text" [width]="card.size"></custom-card>
            }
        </div>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{"HOME.CAROUSEL.title" | translate}}</h1>
        <p class="home__section-text">{{"HOME.CAROUSEL.description" | translate}}</p>
        <carousel class="home__carousel" [images]="imageList"></carousel>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.USP.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.USP.description' | translate }}</p>
        <p class="home__section-text">{{ 'HOME.USP.description2' | translate }}</p>
        <a class="home__section-link" role="button" tabindex="0" routerLink="/public/more-info">
            {{ 'HOME.USP.moreInfo' | translate }} &#8594;
        </a>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.CURRENTSTATE.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.CURRENTSTATE.description' | translate }}</p>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.TEAM.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.TEAM.description' | translate }}</p>
        <div class="home__roadmap">
            <img loading="lazy" decoding="async" class="home__worm-image" src="assets/media/images/WholeWorm.png"
                alt="Large worm roadmap">
            <div class="home__card-image-container">
                <div class="home__objective-item" style="--y: 10%; --x: 20%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member1.name' | translate}}"
                            text="{{'HOME.TEAM.member1.text' | translate}}"
                            text2="{{'HOME.TEAM.member1.text2' | translate}}"
                            path="{{'HOME.TEAM.member1.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
                <div class="home__objective-item" style="--y: 26%; --x: 80%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member2.name' | translate}}"
                            text="{{'HOME.TEAM.member2.text' | translate}}"
                            path="{{'HOME.TEAM.member2.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
                <div class="home__objective-item" style="--y: 40%; --x: 20%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member3.name' | translate}}"
                            text="{{'HOME.TEAM.member3.text' | translate}}"
                            path="{{'HOME.TEAM.member3.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
                <div class="home__objective-item" style="--y: 56%; --x: 80%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member4.name' | translate}}"
                            text="{{'HOME.TEAM.member4.text' | translate}}"
                            text2="{{'HOME.TEAM.member4.text2' | translate}}"
                            path="{{'HOME.TEAM.member4.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
                <div class="home__objective-item" style="--y: 70%; --x: 20%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member5.name' | translate}}"
                            text="{{'HOME.TEAM.member5.text' | translate}}"
                            path="{{'HOME.TEAM.member5.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
                <div class="home__objective-item" style="--y: 86%; --x: 80%;">
                    <div class="home__card-container-image">
                        <custom-card title="{{'HOME.TEAM.member6.name' | translate}}"
                            text="{{'HOME.TEAM.member6.text' | translate}}"
                            text2="{{'HOME.TEAM.member6.text2' | translate}}"
                            path="{{'HOME.TEAM.member6.path' | translate}}" [width]="'280px'"
                            [height]="'280px'"></custom-card>
                    </div>
                </div>
            </div>
        </div>

    </section>

</section>