@use '../../../../styleVariables.scss' as sv;

.home__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.home__title{
    padding: 1rem;
    color: sv.$primary-color;
}

.home__carousel{
    max-width: 800px;
}

.home__about-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__section-title{
    color: sv.$primary-color;
}

.home__section-text{
    color: sv.$small-text-color;
}