<div class="home__video-container">
    <video #bannerVideo muted loop playsinline>
        <source src="assets/media/video/banner.webm" type="video/webm">
    </video>

    <div class="content">
        <h1 class="home__title">{{ 'HOME.title' | translate }}</h1>
        <h3 class="home__title">{{ 'HOME.description' | translate }}</h3>
    </div>
</div>

<section class="home__container">
    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.ABOUT.title' | translate }}</h1>
        <div class="home__card-container">
            @for (card of cardList; track $index) {
                <custom-card [title]="card.title" [text]="card.text" [size]="card.size"></custom-card>
            }
        </div>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{"HOME.CAROUSEL.title" | translate}}</h1>
        <p class="home__section-text">{{"HOME.CAROUSEL.description" | translate}}</p>
        <carousel class="home__carousel" [images]="imageList" ></carousel>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.USP.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.USP.description' | translate }}</p>
        <p class="home__section-text">{{ 'HOME.USP.description2' | translate }}</p>
        <a class="home__section-link" routerLink="/public/more-info">{{ 'HOME.USP.moreInfo' | translate }} &#8594;</a>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.CURRENTSTATE.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.CURRENTSTATE.description' | translate }}</p>
    </section>

    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.MILESTONES.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.MILESTONES.description' | translate }}</p>
        <div class="home__roadmap">
            <img class="home__worm-image" src="assets/media/images/WholeWorm.png" alt="">
            <div class="home__objective-item"  style="top: 18%; left: 15%;">
                <div class="home__card-container">
                    <custom-card title="{{'HOME.MILESTONES.OBJECTIVE1.date' | translate}}" text="{{'HOME.MILESTONES.OBJECTIVE1.text' | translate}}"></custom-card>
                </div>
            </div>
            <div class="home__objective-item" style="top: 42%; left: 88%;">
                <div class="home__card-container">
                    <custom-card title="{{'HOME.MILESTONES.OBJECTIVE2.date' | translate}}" text="{{'HOME.MILESTONES.OBJECTIVE2.text' | translate}}"></custom-card>
                </div>
            </div>
            <div class="home__objective-item" style="top: 75%; left: 15%;">
                <div class="home__card-container">
                    <custom-card title="{{'HOME.MILESTONES.OBJECTIVE3.date' | translate}}" text="{{'HOME.MILESTONES.OBJECTIVE3.text' | translate}}"></custom-card>
                </div>
            </div>
        </div>
        
    </section>
    
    <section class="home__section">
        <h1 class="home__section-title">{{ 'HOME.TEAM.title' | translate }}</h1>
        <p class="home__section-text">{{ 'HOME.TEAM.description' | translate }}</p>
    </section>

</section>
