<section class="legal">
    <h1>{{ "LEGAL.title" | translate}}</h1>

    <article>
        <h2>{{ "LEGAL.legalWarning.title" | translate}}</h2>
        <p>{{ "LEGAL.legalWarning.text" | translate}}</p>
    </article>
    <hr>
    <article>
        <h2>{{ "LEGAL.cookies.title" | translate}}</h2>
        <p>{{ "LEGAL.cookies.text1" | translate}}</p>
        <p>{{ "LEGAL.cookies.text2" | translate}}</p>
        <p>{{ "LEGAL.cookies.text3" | translate}}</p>
        <ul style="margin-left: 15px;">
            <li><p>{{ "LEGAL.cookies.text4" | translate}}</p></li>
            <li><p>{{ "LEGAL.cookies.text5" | translate}}</p></li>
            <li><p>{{ "LEGAL.cookies.text6" | translate}}</p></li>
        </ul>
    </article>
    <hr>
    <article>
        <h2>{{ "LEGAL.privacy.title" | translate}}</h2>
        <p>{{ "LEGAL.privacy.text" | translate}}</p>
    </article>
    <hr>
    <article>
        <h2>{{ "LEGAL.thirdParty.title" | translate}}</h2>
        <p>{{ "LEGAL.thirdParty.text1" | translate}}</p>
        <ul style="margin-left: 15px;">
            <li><p>{{ "LEGAL.thirdParty.text2" | translate}}</p></li>
            <li><p>{{ "LEGAL.thirdParty.text3" | translate}}</p></li>
        </ul>
        <p>{{ "LEGAL.thirdParty.text4" | translate}}</p>
    </article>
    <hr>
    <article>
        <h2>{{ "LEGAL.contact.title" | translate}}</h2>
        <p>{{ "LEGAL.contact.text" | translate}} <a style="text-decoration: underline; color: #eaeaea;"
                href="mailto:contact&#64;kelkomgames.com?subject=Contacto%20des%20de%20web"
                rel="noopener">contact&#64;kelkomgames.com</a></p>
    </article>
</section>