<section class="legal">
    <h1>Legal</h1>

    <article>
        <h2>Aviso legal</h2>
        <p>Este sitio web pertenece a Kelkom Games y tiene carácter informativo.
            El contenido mostrado corresponde a un videojuego en desarrollo.</p>
    </article>
    <hr>
    <article>
        <h2>Política de cookies</h2>
        <p>Este sitio web no utiliza cookies propias ni de terceros.
            No se emplean cookies técnicas, analíticas, de personalización ni publicitarias.
            No se realiza ningún tipo de seguimiento del usuario.</p>
    </article>
    <hr>
    <article>
        <h2>Privacidad</h2>
        <p>Este sitio web no recoge datos personales de los usuarios.
            No existen formularios, sistemas de registro, cuentas de usuario ni comentarios.
            No se almacena ninguna información personal ni se realiza tratamiento de datos.</p>
    </article>
    <hr>
    <article>
        <h2>Servicios de terceros</h2>
        <p>Este sitio web no integra servicios de terceros que recopilen información del usuario.
            No se utilizan herramientas de analítica, publicidad ni seguimiento externo.</p>
    </article>
    <hr>
    <article>
        <h2>Contacto</h2>
        <p>Para cualquier cuestión relacionada con este sitio web contactar a través del
            Email: <a style="text-decoration: underline; color: #eaeaea;"
                href="mailto:hello&#64;kelkomgames.com?subject=Contacto%20des%20de%20web"
                rel="noopener">hello&#64;kelkomgames.com</a></p>
    </article>
</section>