@media (max-width: 1008px) {
  .carousel-container {
    overflow-x: hidden !important;
    width: 100% !important;
    max-width: 300px !important;
  }
}

.picsum-img-wrapper{
  display: flex;
  justify-content: center;
}

:host ::ng-deep .carousel-control-next-icon {
  background-color: rgba($color: #000000, $alpha: .8);
}

:host ::ng-deep .carousel-control-prev-icon {
  background-color: rgba($color: #000000, $alpha: .8);
}

.carousel__image{
  object-fit: scale-down; 
  object-position: center;
}

.carousel__video{
  object-fit: scale-down; 
  object-position: center;
}