@if (images) {
	<ngb-carousel [interval]="5000" class="carousel__container">
        @for (image of images; track $index) {
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    @if (image.isImage) {
                        <img [width]="image.width" [height]="image.height" [src]="image.path" [alt]="image.title" class="carousel__image"/>
                    }@else {
                        <video #video [width]="image.width" [height]="image.height" class="carousel__video" muted loop playsinline>
                            <source [src]="image.path" type="video/mp4">
                        </video>
                    }
                </div>
                <div class="carousel-caption" [style.color]="image.textColor" style="padding: 10px; background-color: rgba(0, 0, 0, 0.7);">
                    <h3>{{image.title}}</h3>
                    <p>{{image.caption}}</p>
                </div>
            </ng-template>
        }
	</ngb-carousel>
}