<nav class="nav">
  <!-- Contenedor original -->
  <div class="nav__tab-container">

    <!-- Botón Hamburguesa (solo mobile) -->
    <button class="hamburger" (click)="toggleMenu()">
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
    </button>

    <!-- Links desktop -->
    <a class="nav__tab" routerLink="home">{{ 'HOME.NAV.home' | translate }}</a>
    <a class="nav__tab" routerLink="more-info">{{ 'HOME.NAV.moreInfo' | translate }}</a>
    <!-- <a class="nav__tab" routerLink="forum">{{ 'HOME.NAV.forum' | translate }}</a>
    <a class="nav__tab" routerLink="news">{{ 'HOME.NAV.news' | translate }}</a>
    <a class="nav__tab" routerLink="support">{{ 'HOME.NAV.support' | translate }}</a>
    <a class="nav__tab" routerLink="social">{{ 'HOME.NAV.social' | translate }}</a> -->
  </div>

  <!-- Menú móvil desplegable -->
  <div class="mobile-menu" [class.open]="menuOpen">
    <a class="nav__tab" routerLink="home" (click)="closeMenu()">{{ 'HOME.NAV.home' | translate }}</a>
    <a class="nav__tab" routerLink="home" (click)="closeMenu()">{{ 'HOME.NAV.moreInfo' | translate }}</a>
    <!-- <a class="nav__tab" routerLink="forum" (click)="closeMenu()">{{ 'HOME.NAV.forum' | translate }}</a>
    <a class="nav__tab" routerLink="news" (click)="closeMenu()">{{ 'HOME.NAV.news' | translate }}</a>
    <a class="nav__tab" routerLink="support" (click)="closeMenu()">{{ 'HOME.NAV.support' | translate }}</a>
    <a class="nav__tab" routerLink="social" (click)="closeMenu()">{{ 'HOME.NAV.social' | translate }}</a> -->
  </div>
</nav>
