@use '../../../../styleVariables.scss' as sv;


.nav__tab-container{
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 9999;
    padding: 15px;
    gap: 75px;
    height: 75px;
    max-height: 75px;
    background: linear-gradient(180deg, #000000da, #242424c9);
}
.nav__tab{
    text-decoration: none;
    color: sv.$primary-color;
    font-size: 24px;
}

.nav__tab:hover{
    border-bottom: 2px sv.$primary-color solid;
    cursor: pointer;
}