@use '../../../../styleVariables.scss' as sv;

$tabs-border-radious-top: 6px;

:host ::ng-deep .nav-tabs .nav-link.active{
    border: 1px sv.$primary-color solid;
    border-top-left-radius: $tabs-border-radious-top;
    border-top-right-radius: $tabs-border-radious-top;
    border-bottom: 1px white solid;
    color: sv.$primary-color;
}

:host ::ng-deep .nav-tabs .nav-link{
    color: sv.$primary-color;
}

:host ::ng-deep .nav-tabs .nav-link:hover{
    background: white;
    color: sv.$primary-color;
    border-color: inherit;
    border-top-left-radius: $tabs-border-radious-top;
    border-top-right-radius: $tabs-border-radious-top;
    border-bottom: 1px white solid;
}